bitstring==3.1.7
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
docutils==0.16
ecdsa==0.16.1
esptool==3.0
ffpyplayer==4.3.2
idna==2.10
Kivy==2.0.0
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
Pillow==8.1.0
pycparser==2.20
Pygments==2.7.4
pyserial==3.5
reedsolo==1.5.4
requests==2.25.1
six==1.15.0
urllib3==1.26.3
